.PropertiesList {
    background-color: #353348;
    width: 350px;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.PropertiesList::-webkit-scrollbar {
    display: none;
}